.FolderTree {
  .CheckBox {
    display: inline-block;
    margin-right: 3px;
  }

  .TreeNode {
    padding: 2px 0;
    display: flex;
    align-items: center;

    .TreeNodeToolBar {
      margin-left: 3px;
      display: flex;
      align-items: center;
      svg {
        padding: 0 2px;
        display: flex;
        align-items: center;
      }
    }

    .iconContainer {
      padding: 0 2px;
      display: flex;
      align-items: center;

      svg {
        padding-top: 1px;
        vertical-align: text-top;
      }

      &:not(.typeIconContainer) {
        svg {
          &:hover {
            cursor: pointer;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .EditableName {
    input {
      width: 8rem;
      border: 2px lime solid;
      border-radius: 4px;
      padding: 0 0.125rem;
    }

    .editingName {
      display: flex;
      align-items: center;
    }

    .displayName {
      &:hover {
        color: #4d94ff;
        cursor: pointer;
      }
    }

    .editableNameToolbar {
      margin-left: 3px;

      svg {
        margin: 0 2px;
      }
    }
  }

  .icon {
    &:hover.OKIcon {
      color: #5cd65c;
    }
    &:hover.CancelIcon {
      color: #f33;
    }
    &:hover.EditIcon {
      color: #b3f;
    }
    &:hover.DeleteIcon {
      color: #ff66b3;
    }
    &:hover.AddFileIcon {
      color: #009973;
    }
    &:hover.AddFolderIcon {
      color: #009973;
    }
  }
}
